body{
    background-color: gray;
}
@media screen and (max-device-width: 960px) {
    body{
        background-color: red;
    }
}
@media screen and (max-device-width: 768px) {
    body{
        background-color: orange;
    }
}
@media screen and (max-device-width: 550px) {
    body{
        background-color: yellow;
    }
}
@media screen and (max-device-width: 320px) {
    body {
        background-color: green;
    }
}